//Variables :
$main-police: 'Space Mono';
$secondary-police: 'Poppins';
$light-grey: #E5E5E5;

//Mixin : 
@mixin display-flex{
    display: flex;
  }

@mixin display-none{
    display: none;
  }

@mixin cursor-pointer{
  cursor: pointer;
  }

@mixin position-absolute{
  position: absolute;
  }

  @mixin position-relative{
    position: relative;
    }

// Styles 

/*HEADER*/
#menu-header{
    @include display-flex;
    flex-direction: row;
    justify-content: end;   
    margin-top: -1%;

    &   a{
        color: black;
    }

    & a:hover,
    .menu-item-17:hover {
    color: black;
    font-weight: 800;
    @include cursor-pointer;
}

    #menu-item-18,
    #menu-item-28,
    #menu-item-17{
    font-family: $main-police;
    padding: 20px;
    margin-right: 4%;
}
}

a, li{
    list-style-type: none;
    text-decoration: none !important;
  }

.custom-logo{
    margin-bottom: -2%;
}

/*MENU BURGER*/
#menu-header::before {
    content: "menu";
    font-family: "Material Symbols Outlined";
    font-size: 30px;
    @include cursor-pointer;
    @include display-none;
    margin-top: -2%;
  }
  
  #menu-header.menu-open::before {
    content: "close";
  }
  
  .burger__menu a {
    color: white;
  }
  ul.burger__menu{
    @include display-none;
  }
  
  @media screen and (max-width: 768px) {
    #menu-item-18,
    #menu-item-28,
    #menu-item-17,
      .burger__menu {
        @include display-none;
    }
    #menu-header::before {
        @include display-flex;
    }
    .burger__menu {
        @include display-none;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 3%;
      left: 0;
      background-color: #E00000;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: xx-large;
      font-family: $main-police;;
      list-style: none;
      padding: 20px;
      line-height: 150px;
      z-index: 1;

      &-open {
        @include display-flex;
        animation: fade-down 2s;
        right: 0;
      }
      
      &-close {
        @include display-flex;
        animation: fade-up 2s;
        right: 0;
      }
    }
  }
  
  @keyframes fade-down {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fade-up {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  }

/* FOOTER */

#menu-footer{
    @include display-flex;
    justify-content: center;  

    & a{
    color: black; 

    &:hover {
      color: black;
      font-weight: 800;
      }
}

    #menu-item-19,
    #menu-item-20,
    #menu-item-21{ 
    list-style-type: none;
    font-family: $main-police;
    padding: 20px;
}
}

@media (max-width: 768px){
    #menu-footer{
        @include display-flex;
        flex-direction: column;
        align-items: center;
    }
}

/*MODALE DE CONTACT*/
  .menu-item-17 a,
  .contact {
    pointer-events: none;
    @include cursor-pointer;
  }
  
  .modale_contact-overlay{
    position:fixed;
    width:100%;
    height:100%;
    background:#00000060;
    z-index: 1;
    top:0;
    left:0;
    @include display-none;
    justify-content: center;
    align-items: center;
  }

    .modale_contact {
      @include display-flex;
      flex-direction: column;
      border: black 2px solid;
      font-family: $secondary-police;
      width: 43%;
      background-color: white;
      z-index: 2;
      justify-content: center;
      align-items: center;


    &-header {
      height: 10vh;
    }
    }

    .modale_contact-champ {
        width: 49vh;
        height: 5vh;
        border-radius: 10px;
        border: solid 2px $light-grey;
      }

      .modale_contact-champ-message {
        width: 49vh;
        height: 20vh;
        border-radius: 10px;
        border: solid 2px $light-grey;
      }

    .modale_contact-bouton {
        font-family: $main-police;
        background-color: #D8D8D8;
        border: 1px $light-grey;
        border-radius: 2px;
        width: 50vh;
        padding: 3%;
        @include cursor-pointer;
        transition: background-color 0.7s;
      }

      .modale_contact-close {
        @include display-none;
      }

      @media (max-width: 500px) {
        .modale_contact,
        .modale_contact-champ, 
        .modale_contact-champ-message, 
        .modale_contact-bouton {
          width: 30vh;
        }
      }
      @media (max-width: 500px) {
        .modale_contact,
        .modale_contact-header {
          width: 40vh;
        }
      }

/*TRANSITIONS DE COULEUR SUR LES BOUTONS*/
.page_info-bouton:hover,
.modale_contact-bouton:hover,
.photo_list-button:hover{
  background-color: black;
  color: white;
}
/* PAGE DETAILS */

.page_info{
  @include display-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25vh;
  margin-right: 25vh;

  &-détails{
    font-family: $main-police;
    margin-top: 45vh;
    margin-right: 15%;
    }

    h2{
      font-style: italic;
      font-size:xx-large;
    }

    &-image{
      object-fit: cover;
    }

/*MEDIAS QUERIES POUR LA SECTIONS DES DÉTAILS ET LA PHOTO*/
@media (max-width: 768px){
  &-image{
  order: -1;
  object-fit: cover;
  height: 80vh;
  width: 60vh;
  margin-left: -23vh;
  margin-bottom: -40vh;
  }
  & p, h2{
    white-space: nowrap;
    margin-left: -20vh;
  }
}
}

/* PAGE DETAILS : LIGNES HORIZONTALES SÉPARATRICES */
.little-horizontale-line{
  width: 43%; 
  height: 1px; 
  background-color: black;
  margin-left: 12.5%;
}

.longue-horizontale-line{
  width: 75%; 
  height: 1px; 
  background-color: black;
}

@media (max-width: 768px){
  .longue-horizontale-line,
  .little-horizontale-line{
width: 100%;
  }
  .little-horizontale-line{
  margin-left: 0%;
}
}

.page_info-contact{
  @include display-flex;
  font-family: $secondary-police;
  margin-left: 25vh;
  margin-right: 25vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.page_info-bouton{
  font-family: $main-police;
  background-color: #D8D8D8;
  border: 1px $light-grey;
  border-radius: 2px;
  width: 30vh;
  margin-left: 15%;
  transition: background-color 0.7s;
  @include cursor-pointer;
}
/*MEDIAS QUERIES POUR LA ZONE DE CONTACTE DANS LA SINGLE POST*/
  @media (max-width: 768px) {
    .page_info,
    .page_info-contact {
      flex-direction: column;
    }
    .page_info-bouton{
    height: 7vh;
    }
    .page_info-bouton, .page_info-contact{
    align-items: center;
      }
    .page_info-détails{
        margin-left: 10%;
    }
    .page_info-contact p{
        white-space: nowrap;
    }
  }

/*PAGE DETAILS : MINIATURE*/

  .photo-container{
    margin-left: 44vh;
    margin-top: -2%;

    & img{
      width: 10vh;
    height: 10vh;
    }

    .next_photo:hover{
      transform: scale(1.5);
      transition: 1s ease;
    }

    .next_photo{
      @include display-none;
      transition: 1s ease;
    }

    .previous_photo{
      @include display-none;
      transition: 1s ease;
    }
    @media (max-width: 768px){
      .photo-container,   .arrow-right,   .arrow-left{
        @include display-none;
    }
  }
  .arrow-right{
    @include position-absolute;
    right: 30vh;
    top: 111%;
  }
  
  .arrow-left{
    @include position-absolute;
    right: 40vh;
    top: 111%;
  }
}

/*PAGE DETAILS : PHOTOS APPARENTÉS*/

.photos_apparentes{
font-family: $main-police;
font-size: larger;
margin-left: 25vh;
margin-right: 25vh;
margin-top: 5%;

&-flex{
  @include display-flex;
  flex-direction: row;
  justify-content: space-between;
  @include position-relative;
}

&-flex img{
  @include cursor-pointer;
  -webkit-filter: brightness(100%);
  -webkit-transition: all 0.7s;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

&-flex img:hover {
  -webkit-filter: brightness(55%);
}

.fa-eye{
  @include position-absolute;
    top: 45%;
    left: 50%;
    font-size: 24px; 
    opacity: 0;
    color: white;
    @include cursor-pointer;
}
&-images:hover .fa-eye {
  opacity: 1;
}

.fa-expand{
  @include position-absolute;
    top: 1%;
    right: -1%;
    font-size: 20px; 
    color: white;
    opacity: 0;
    @include cursor-pointer;
}
&-images:hover .fa-expand {
  opacity: 1;
}

&-images{
  width:45%;
  @include position-relative;
  display: inline-block; 
}

&-text{
  @include position-absolute;
  color: white;
  opacity: 0;
  bottom: 1%;
  left: 1%;
  font-size: small;
}
&-images:hover &-text {
  opacity: 1;
}

&-categorie{
  @include position-absolute;
  color: white;
  opacity: 0;
  bottom: 1%;
  right: 1%;
  font-size: small;
}
&-images:hover &-categorie {
  opacity: 1;
}

/*MEDIA QUERIES POUR LES PHOTOS APPARENTÉS*/

@media (max-width: 768px) {
  &-flex {
    flex-direction: column;
    margin-left: -23vh;
  }
  & p{
    white-space: nowrap;
  }

  &-flex img{
    width: 450px;
    height: 450px;
  }
  &-categorie{
    @include position-absolute;
    margin-left: -25%;
  }
  .fa-eye{
    margin-left: 20vh;
  }
  .fa-expand, &-categorie{
    margin-right: -40vh;
  }
}
}

/*HERO HEADER*/
.hero_header img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.hero_header-title{
font-family: $main-police;
font-style: italic;
font-size: 90px; 
color: transparent;
-webkit-text-stroke: 3px #FFFF;
@include position-absolute;
top: 30%;
right: 19%;
}

/* MEDIA QUERIES POUR LE HERO HEADER */
@media (max-width:768px){
  .hero_header img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  .hero_header-title{
    font-size: 45px; 
    white-space: nowrap;
    @include position-absolute;
    left: 3.5%
  }
}

/* LISTE DES PHOTOS */
.photo_list {
  @include display-flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  font-family: $secondary-police;
  margin-left: 5vw;
  margin-right: 5vw;

  &-image img {
    width: 70vh;
    height: 70vh;
    object-fit: cover;
    -webkit-filter: brightness(100%);
    -webkit-transition: all 0.7s;
    padding: 2vh;
  }
  
  &-image img:hover {
    -webkit-filter: brightness(55%);
  }
  
  &-image .fa-eye {
    @include position-absolute;
    top: 45%;
    left: 48%;
    font-size: 35px;
    opacity: 0;
    color: white;
    @include cursor-pointer;
  }
  &-image:hover .fa-eye {
    opacity: 1;
  }
  
  &-image .fa-expand {
    @include position-absolute;
    top: 3%;
    right: 4%;
    font-size: 25px;
    opacity: 0;
    color: white;
    @include cursor-pointer;
    z-index: 5;
  }
  &-image:hover .fa-expand {
    opacity: 1;
  }
  
  &-image {
    @include position-relative;
    display: inline-block;
  }
  
  &-text {
    @include position-absolute;
    color: white;
    opacity: 0;
    bottom: 3%;
    left: 3%;
    font-size: small;
  }
  &-image:hover &-text {
    opacity: 1;
  }
  
  &-categorie{
    @include position-absolute;
    color: white;
    opacity: 0;
    bottom: 3%;
    right: 3%;
    font-size: small;
  }
  
  &-image:hover &-categorie {
    opacity: 1;
  }
}

.button-container {
  @include display-flex;
  justify-content: center;
  margin-top: 3%;
}

.photo_list-button{
  font-family: $main-police;
  background-color: #D8D8D8;
  border: 1px $light-grey;
  border-radius: 2px;
  width: 30vh;
  padding: 1%;
  @include cursor-pointer;
  transition: background-color 0.7s;
}

/* MEDIA QUERIES POUR LA LISTE DES PHOTOS DE LA PAGE D'ACCUEIL */
@media (max-width: 768px){
  .photo_list{
    justify-content: center;

    &-image img {
      width: 60vh;
      height: 60vh;
    }
  }
  .photo_list-button{
    padding: 3%;
  }
}

/* SELECTS/FILTRES */

.selects_filters{
  margin: 6vh;

  &-flex{
    @include display-flex;
    justify-content: space-between;
    margin-left: 10vh;
    margin-right: 10vh;
    }

    &-input{
      width: 15vw;
    }
}

/* CLASS CSS PAR DÉFAUT DE LA BIBLIOTHÈQUE SELCT2*/
.select2-container--default .select2-results__option--selected{
  background-color: #E00000 !important;
}
.select2-container--open .select2-dropdown--below{
border-bottom-left-radius: 5%;
border-bottom-right-radius: 5%;
}
.select2-search__field {
  @include display-none;
}

.select2-selection--single, .select2-selection, .select2-results li{
  font-family: $secondary-police;
  font-size: small;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:hover {
  color: black;
  background-color:#FFD6D6 !important;
}
.select2-container--default .select2-selection--single{
  border-radius: 8px !important;
  border: 1.3px solid #B8BBC2 !important;
  height: 5vh !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px !important;
}
.selects_filters-category {
  @include display-flex;
  gap: 14vh; /* Ajuste l’espace entre les sélecteurs */
}

.horizontale-line{
  width: 100%; 
  height: 1px; 
  background-color: black;
  opacity: 0;
}

/* MEDIA QUERIES POUR LES FILTRES */
@media(max-width: 768px){
  .selects_filters-flex{
    flex-direction: column;
    width: 80%;
    gap: 0.5rem;
  }
  .horizontale-line{
    opacity: 1;
  }
  .selects_filters-category{
    flex-direction: column;
    gap: 0;
    gap: 0.5rem;
  }
  .selects_filters-input{
    width: 50vw;

  }
}

/*LIGHT BOX*/

.light_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  animation: lightBox 0.5s;
  @include display-none;
  font-family: $secondary-police;

  &-next{
    border: none;
    background: url(template_part/lightbox/arrows/next-arow.svg) center center / 100% 100%;
    width: 20vh;
    height: 30vh;
    color: white;
    position: fixed;
    top: 43vh;
    margin-top: -14px;
    @include cursor-pointer;
    right: 0;
  }
  
  &-prev{
    border: none;
    background: url(template_part/lightbox/arrows/previous-arrow.svg) center center / 100% 100%;
    width: 20vh;
    height: 30vh;
    color: white;
    position: fixed;
    top: 43vh;
    margin-top: -14px;
    @include cursor-pointer;
    z-index: 20;
  }

  &-close{
    border: none;
    width: 2.5vh;
    height: 2.5vh;
    background: url('data:image/svg+xml;utf8,<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.5956 11.0002L21.479 3.13518C21.8242 2.78995 22.0181 2.32173 22.0181 1.83351C22.0181 1.34529 21.8242 0.877067 21.479 0.531844C21.1337 0.18662 20.6655 -0.00732422 20.1773 -0.00732422C19.6891 -0.00732422 19.2209 0.18662 18.8756 0.531844L11.0106 8.41518L3.14563 0.531844C2.80041 0.18662 2.33218 -0.00732422 1.84396 -0.00732422C1.35574 -0.00732422 0.88752 0.18662 0.542297 0.531844C0.197073 0.877067 0.00312877 1.34529 0.00312877 1.83351C0.00312876 2.32173 0.197073 2.78995 0.542297 3.13518L8.42563 11.0002L0.542297 18.8652C0.370461 19.0356 0.234072 19.2384 0.140996 19.4618C0.0479205 19.6852 0 19.9248 0 20.1668C0 20.4089 0.0479205 20.6485 0.140996 20.8719C0.234072 21.0953 0.370461 21.2981 0.542297 21.4685C0.712729 21.6403 0.915498 21.7767 1.13891 21.8698C1.36231 21.9629 1.60194 22.0108 1.84396 22.0108C2.08599 22.0108 2.32561 21.9629 2.54902 21.8698C2.77243 21.7767 2.9752 21.6403 3.14563 21.4685L11.0106 13.5852L18.8756 21.4685C19.0461 21.6403 19.2488 21.7767 19.4722 21.8698C19.6956 21.9629 19.9353 22.0108 20.1773 22.0108C20.4193 22.0108 20.6589 21.9629 20.8824 21.8698C21.1058 21.7767 21.3085 21.6403 21.479 21.4685C21.6508 21.2981 21.7872 21.0953 21.8803 20.8719C21.9733 20.6485 22.0213 20.4089 22.0213 20.1668C22.0213 19.9248 21.9733 19.6852 21.8803 19.4618C21.7872 19.2384 21.6508 19.0356 21.479 18.8652L13.5956 11.0002Z" fill="white"/></svg>')
    center center / 100% 100%;
    position: fixed;
    top: 5vh;
    right: 5vh;
    @include cursor-pointer;
  }

  &-container{
    @include display-flex;
    align-items: center;
    justify-content: center;
    @include position-absolute;
    right: 35%;
    min-height: 100vh;

    & img{
      width: 100%;
      height: auto;
      animation: lightBox 0.5s;
    }
  }
  &-categorie {
    @include position-absolute;
    color: white;
    bottom: 2%;
    right: 3%;
    font-size: small;
  }
  
  &-text{
    @include position-absolute;
    color: white;
    left: 3%;
    bottom: 2%;
    font-size: small;
  }
}

svg{
  color: white;
}

@keyframes lightBox{
  from {opacity: 0}
  to {opacity: 1}
};

/*MEDIA QUERIES POUR LA LIGHTBOX*/
@media (max-width: 1024px) {
  .light_box-next, .light_box-prev {
    width: 12vh;
    height: 18vh;
  }
  .light_box-container {
    right: 20%;

    & img {
      width: 40vh;
    }
  }

  @media (max-width: 768px) {
    .light_box-next, .light_box-prev {
      width: 12vh;
      height: 18vh;
    }
  
    .light_box-container {
      right: 20%;
  
      & img {
        width: 40vh;
      }
    }
  }
  @media (max-width: 480px) {
    .light_box-next, .light_box-prev {
      width: 10vh;
      height: 15vh;
    }
  
    .light_box-container {
      right: 10%;
  
      & img {
        width: 40vh;
      }
    }
  }
}