//Variables :
$main-police: 'Space Mono';
$secondary-police: 'Poppins';
$light-grey: #E5E5E5;
//Mixin : 
@mixin display-flex{
    display: flex;
  }

@mixin display-none{
    display: none;
  }

// Styles 

#menu-header{
    @include display-flex;
    flex-direction: row;
    justify-content: end;   
    margin-top: -1%;

    &   a{
        color: black;
    }

    #menu-item-18,
    #menu-item-28,
    #menu-item-17{
    font-family: $main-police;
    padding: 20px;
    margin-right: 4%;
}
}

a, li{
    list-style-type: none;
    text-decoration: none !important;
  }

.custom-logo{
    margin-bottom: -2%;
}

/*MENU BURGER*/
#menu-header::before {
    content: "menu";
    font-family: "Material Symbols Outlined";
    font-size: 30px;
    cursor: pointer;
    @include display-none;
    margin-top: -2%;
  }
  
  #menu-header.menu-open::before {
    content: "close";
  }
  
  .burger__menu a {
    color: white;
  }
  ul.burger__menu{
    @include display-none;
  }
  
  @media screen and (max-width: 768px) {
    #menu-item-18,
    #menu-item-28,
    #menu-item-17,
      .burger__menu {
        @include display-none;
    }
    #menu-header::before {
        @include display-flex;
    }
    .burger__menu {
        @include display-none;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 3%;
      left: 0;
      background-color: #E00000;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: xx-large;
      font-family: $main-police;;
      list-style: none;
      padding: 20px;
      line-height: 150px;

      &-open {
        @include display-flex;
        animation: fade-down 2s;
        right: 0;
      }
      
      &-close {
        @include display-flex;
        animation: fade-up 2s;
        right: 0;
      }
    }
  }
  
  @keyframes fade-down {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fade-up {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  }

/* FOOTER */

#menu-footer{
    @include display-flex;
    justify-content: center;  

    & a{
    color: black; 
}

    #menu-item-19,
    #menu-item-20,
    #menu-item-21{ 
    list-style-type: none;
    font-family: $main-police;
    padding: 20px;
}
}

@media (max-width: 768px){
    #menu-footer{
        @include display-flex;
        flex-direction: column;
        align-items: center;
    }
}

/*MODALE DE CONTACT*/
  .menu-item-17 a,
  .contact {
    pointer-events: none;
    cursor: default;
  }
  
  .modale_contact {
    @include display-none;
    align-items: center;
    flex-direction: column;
    font-family: $secondary-police;
    margin-left: 25%;
    width: 50%;

    &-header {
        height: 10vh;
      }

      &-champ {
        width: 49vh;
        height: 5vh;
        border-radius: 10px;
        border: solid 2px $light-grey;
      }

      &-champ-message {
        width: 49vh;
        height: 20vh;
        border-radius: 10px;
        border: solid 2px $light-grey;
      }

    &-bouton {
        font-family: $main-police;
        background-color: #D8D8D8;
        border: 1px $light-grey;
        border-radius: 2px;
        width: 50vh;
        padding: 3%;
      }

      &-close {
        @include display-none;
      }

      @media (max-width: 500px) {
        &-champ,
        &-champ-message,
        &-bouton {
          width: 40vh;
        }
      }
  }