@charset "UTF-8";
/*HEADER*/
#menu-header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: -1%;
}
#menu-header a {
  color: black;
}
#menu-header a:hover,
#menu-header .menu-item-17:hover {
  color: black;
  font-weight: 800;
  cursor: pointer;
}
#menu-header #menu-item-18,
#menu-header #menu-item-28,
#menu-header #menu-item-17 {
  font-family: "Space Mono";
  padding: 20px;
  margin-right: 4%;
}

a, li {
  list-style-type: none;
  text-decoration: none !important;
}

.custom-logo {
  margin-bottom: -2%;
}

/*MENU BURGER*/
#menu-header::before {
  content: "menu";
  font-family: "Material Symbols Outlined";
  font-size: 30px;
  cursor: pointer;
  display: none;
  margin-top: -2%;
}

#menu-header.menu-open::before {
  content: "close";
}

.burger__menu a {
  color: white;
}

ul.burger__menu {
  display: none;
}

@media screen and (max-width: 768px) {
  #menu-item-18,
  #menu-item-28,
  #menu-item-17,
  .burger__menu {
    display: none;
  }
  #menu-header::before {
    display: flex;
  }
  .burger__menu {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 3%;
    left: 0;
    background-color: #E00000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: "Space Mono";
    list-style: none;
    padding: 20px;
    line-height: 150px;
  }
  .burger__menu-open {
    display: flex;
    animation: fade-down 2s;
    right: 0;
  }
  .burger__menu-close {
    display: flex;
    animation: fade-up 2s;
    right: 0;
  }
}
@keyframes fade-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade-up {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
/* FOOTER */
#menu-footer {
  display: flex;
  justify-content: center;
}
#menu-footer a {
  color: black;
}
#menu-footer a:hover {
  color: black;
  font-weight: 800;
}
#menu-footer #menu-item-19,
#menu-footer #menu-item-20,
#menu-footer #menu-item-21 {
  list-style-type: none;
  font-family: "Space Mono";
  padding: 20px;
}

@media (max-width: 768px) {
  #menu-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*MODALE DE CONTACT*/
.menu-item-17 a,
.contact {
  pointer-events: none;
  cursor: pointer;
}

.modale_contact-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3764705882);
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modale_contact {
  display: flex;
  flex-direction: column;
  border: black 2px solid;
  font-family: "Poppins";
  width: 43%;
  background-color: white;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.modale_contact-header {
  height: 10vh;
}

.modale_contact-champ {
  width: 49vh;
  height: 5vh;
  border-radius: 10px;
  border: solid 2px #E5E5E5;
}

.modale_contact-champ-message {
  width: 49vh;
  height: 20vh;
  border-radius: 10px;
  border: solid 2px #E5E5E5;
}

.modale_contact-bouton {
  font-family: "Space Mono";
  background-color: #D8D8D8;
  border: 1px #E5E5E5;
  border-radius: 2px;
  width: 50vh;
  padding: 3%;
  cursor: pointer;
  transition: background-color 0.7s;
}

.modale_contact-close {
  display: none;
}

@media (max-width: 500px) {
  .modale_contact,
  .modale_contact-champ,
  .modale_contact-champ-message,
  .modale_contact-bouton {
    width: 30vh;
  }
}
@media (max-width: 500px) {
  .modale_contact,
  .modale_contact-header {
    width: 40vh;
  }
}
/*TRANSITIONS DE COULEUR SUR LES BOUTONS*/
.page_info-bouton:hover,
.modale_contact-bouton:hover {
  background-color: black;
  color: white;
}

/* PAGE DETAILS */
.page_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25vh;
  margin-right: 25vh;
  /*MEDIAS QUERIES POUR LA SECTIONS DES DÉTAILS ET LA PHOTO*/
}
.page_info-détails {
  font-family: "Space Mono";
  margin-top: 45vh;
  margin-right: 15%;
}
.page_info h2 {
  font-style: italic;
  font-size: xx-large;
}
.page_info-image {
  object-fit: cover;
}
@media (max-width: 768px) {
  .page_info-image {
    order: -1;
    object-fit: cover;
    height: 80vh;
    width: 60vh;
    margin-left: -23vh;
    margin-bottom: -40vh;
  }
  .page_info p, .page_info h2 {
    white-space: nowrap;
    margin-left: -20vh;
  }
}

/* PAGE DETAILS : LIGNES HORIZONTALES SÉPARATRICES */
.little-horizontale-line {
  width: 43%;
  height: 1px;
  background-color: black;
  margin-left: 12.5%;
}

.longue-horizontale-line {
  width: 75%;
  height: 1px;
  background-color: black;
}

@media (max-width: 768px) {
  .longue-horizontale-line,
  .little-horizontale-line {
    width: 100%;
  }
  .little-horizontale-line {
    margin-left: 0%;
  }
}
.page_info-contact {
  display: flex;
  font-family: "Poppins";
  margin-left: 25vh;
  margin-right: 25vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.page_info-bouton {
  font-family: "Space Mono";
  background-color: #D8D8D8;
  border: 1px #E5E5E5;
  border-radius: 2px;
  width: 30vh;
  margin-left: 15%;
  transition: background-color 0.7s;
  cursor: pointer;
}

/*MEDIAS QUERIES POUR LA ZONE DE CONTACTE DANS LA SINGLE POST*/
@media (max-width: 768px) {
  .page_info,
  .page_info-contact {
    flex-direction: column;
  }
  .page_info-bouton {
    height: 7vh;
  }
  .page_info-bouton, .page_info-contact {
    align-items: center;
  }
  .page_info-détails {
    margin-left: 10%;
  }
  .page_info-contact p {
    white-space: nowrap;
  }
}
/*PAGE DETAILS : MINIATURE*/
.photo-container {
  margin-left: 44vh;
  margin-top: -2%;
}
.photo-container img {
  width: 10vh;
  height: 10vh;
}
.photo-container .next_photo:hover {
  transform: scale(1.5);
  transition: 1s ease;
}
.photo-container .next_photo {
  display: none;
  transition: 1s ease;
}
.photo-container .previous_photo {
  display: none;
  transition: 1s ease;
}
@media (max-width: 768px) {
  .photo-container .photo-container, .photo-container .arrow-right, .photo-container .arrow-left {
    display: none;
  }
}
.photo-container .arrow-right {
  position: absolute;
  right: 30vh;
  top: 111%;
}
.photo-container .arrow-left {
  position: absolute;
  right: 40vh;
  top: 111%;
}

/*PAGE DETAILS : PHOTOS APPARENTÉS*/
.photos_apparentes {
  font-family: "Space Mono";
  font-size: larger;
  margin-left: 25vh;
  margin-right: 25vh;
  margin-top: 5%;
  /*MEDIA QUERIES POUR LES PHOTOS APPARENTÉS*/
}
.photos_apparentes-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.photos_apparentes-flex img {
  cursor: pointer;
  -webkit-filter: brightness(100%);
  -webkit-transition: all 0.7s;
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.photos_apparentes-flex img:hover {
  -webkit-filter: brightness(55%);
}
.photos_apparentes .fa-eye {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 24px;
  opacity: 0;
  color: white;
  cursor: pointer;
}
.photos_apparentes-images:hover .fa-eye {
  opacity: 1;
}
.photos_apparentes .fa-expand {
  position: absolute;
  top: 1%;
  right: -1%;
  font-size: 20px;
  color: white;
  opacity: 0;
  cursor: pointer;
}
.photos_apparentes-images:hover .fa-expand {
  opacity: 1;
}
.photos_apparentes-images {
  width: 45%;
  position: relative;
  display: inline-block;
}
.photos_apparentes-text {
  position: absolute;
  color: white;
  opacity: 0;
  bottom: 5%;
  left: 1%;
  font-size: small;
}
.photos_apparentes-images:hover .photos_apparentes-text {
  opacity: 1;
}
.photos_apparentes-categorie {
  position: absolute;
  color: white;
  opacity: 0;
  bottom: 5%;
  right: 1%;
  font-size: small;
}
.photos_apparentes-images:hover .photos_apparentes-categorie {
  opacity: 1;
}
@media (max-width: 768px) {
  .photos_apparentes-flex {
    flex-direction: column;
    margin-left: -23vh;
  }
  .photos_apparentes p {
    white-space: nowrap;
  }
  .photos_apparentes-flex img {
    width: 450px;
    height: 450px;
  }
  .photos_apparentes-categorie {
    position: absolute;
    margin-left: -25%;
  }
  .photos_apparentes .fa-eye {
    margin-left: 20vh;
  }
  .photos_apparentes .fa-expand, .photos_apparentes-categorie {
    margin-right: -40vh;
  }
}

/*HERO HEADER*/
.hero_header img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.hero_header-title {
  font-family: "Space Mono";
  font-style: italic;
  font-size: 90px;
  color: transparent;
  -webkit-text-stroke: 3px white;
  position: absolute;
  top: 30%;
  right: 19%;
}

/*# sourceMappingURL=style.css.map */
